[phases.setup]
nixPkgs = ["python39", "python39Packages.pip", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements_production.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
cmd = "python manage.py migrate && gunicorn bloodbankmanagement.wsgi:application --bind 0.0.0.0:$PORT" 